.blog-container {
    width: 80%;
    margin: 0 auto;
}

.single-blog {

    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.answare-keyword {
    font-style: italic;
    font-weight: bold;
    margin-right: 5px;
}